body {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    min-height: 99vh; 
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Gilda Display", serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: auto;
}

.login, .register {
    background-color: #27374D;
    border: .2em solid;
    border-radius: 2em;
    box-shadow: 5px 5px .5px #FFD700;
    height: 25em;
    padding: 40px;
    box-sizing: border-box;
    border-color: #FFD700;
    text-align: center;
    width: 48%;
    margin: 10px;
    color: white;
}

.login_in {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    padding: 5px;
    margin: 10px;
}

.button {
    background-color: #FFD700;
    border-radius: 2em;
    width: 10em;
    margin: 1em;
}

.button:hover {
    background-color: #a8a7a5;
    color: white;
}

.login_image img {
    width: 13em;
    height: 13em;
    object-fit: scale-down;
    margin: auto;
    opacity: 0.8;
    background-color: #27374D;
}

.footer {
    background-color: #9DB2BF;
    width: 100%;
    padding: 2px;
    flex-shrink: 0;

}

@media only screen and (max-width: 800px) {
    .login, .register {
        width: 100%;
        
    }
    .footer {
        flex-shrink: 0;
    }
}